// Button Styles


.btn-ios {
  display: inline-block;
  width: 240px;
  text-align: center;
  font-family: $regular-fonts;
  font-weight: $regular-weight;
  font-size: 20px;
  padding: 12px 25px;
  line-height: 32px;
}

.btn-ios {
  background: $reg-blue;
  color: #fff;
  margin-right: 35px;
}

.btn-ios i {
  font-size: 23px;
  color: #FFFFFF;
  margin-right: 20px;
}

.btn-ios:hover {
  color: #FFFFFF;
  background: $dark-blue;
}

.email-btn .btn {
  border: none;
  background: $green-button;
  &:hover {
    background: darken($green-button, 10%);
    @include ease;
  }
}

.apply_btn {
  margin: 0 10px 10px 0;
  .btn {
    width: 200px;
    height: 60px;
    font-size: 20px;
    background: $orange;
    border: none;
    font-family: $headline;
    font-weight: $light-weight;
    font-size: 20px;

    &:hover {
      background: $orange-2;
    }
  }
}

.apply_btn .btn {
  background: $green-button;
  &:hover {
    background: darken($green-button, 10%);
    @include ease;
  }
}
