// Button Styles


.btn-ios {
  display: inline-block;
  width: 240px;
  text-align: center;
  font-family: $regular-fonts;
  font-weight: $regular-weight;
  font-size: 20px;
  padding: 12px 25px;
  line-height: 32px;
}

.btn-ios {
  background: $reg-blue;
  color: #fff;
  margin-right: 35px;
}

.btn-ios i {
  font-size: 23px;
  color: #FFFFFF;
  margin-right: 20px;
}

.btn-ios:hover {
  color: #FFFFFF;
  background: $dark-blue;
}

.careers-btn .btn {
  background: $green;
  color: $white;
  border: none;
  border-radius: 4px;
  margin-top: 20px;
  padding: 14px 30px;
  box-shadow: inset 0 -1px 1px 0 rgba(0,0,0,0.3);
  &:hover {
    background: lighten($green, 5%);
    @include ease;
  }
  &:active {
    background: darken($green, 5%);
    box-shadow: inset 0 2px 1px 0 rgba(0,0,0,0.3);
  }
  &:focus {
    outline: none;
  }
}

.apply_btn .btn {
  background: $green;
  color: $white;
  border-radius: 32px;
  margin: 0 10px 10px 0;
  padding: 14px 50px;  
  font-weight: $regular-weight;
  font-size: 18px;
  box-shadow: inset 0 -1px 1px 0 rgba(0,0,0,0.3);
  &:hover {
    background: lighten($green, 5%);
    color: $white;
    @include ease;
  }
  &:active {
    background: darken($green, 5%);
    box-shadow: inset 0 2px 1px 0 rgba(0,0,0,0.3);
    color: $white;
  }
  &:focus {
    outline: none;
  }
}

.btn-download {
  background: none;
  border: 1px solid $soft-gray;
  color: $soft-gray;
  border-radius: 32px;
  margin: 20px 0 20px;
  padding: 20px 40px;  
  font-weight: $regular-weight;
  font-size: 18px;
  i {
    font-size: 24px;
    margin-right: 24px;
  }
  &:hover {
    background: lighten($soft-gray, 5%);
    color: $reg-blue;
    @include ease;
  }
  &:active {
    background: darken($soft-gray, 5%);
    color: $reg-blue;
  }
  &:focus {
    outline: none;
  }
}

.btn-start {
  background: $orange;
  border: none;
  color: $white;
  border-radius: 32px;
  margin: 20px 0 20px;
  padding: 20px 30px;  
  font-weight: $regular-weight;
  font-size: 18px;
  box-shadow: inset 0 -2px 1px 0 rgba(0,0,0,0.3);
  &:hover {
    background: lighten($orange, 5%);
    color: $white;
    @include ease;
  }
  &:active {
    background: darken($orange, 5%);
    box-shadow: inset 0 2px 1px 0 rgba(0,0,0,0.3);
    color: $white;
  }
  &:focus {
    outline: none;
  }
}

.btn-download-mobile {
  background: rgba(244, 245, 247, 0.2);
  border: none;
  border-radius: 4px;
  margin-top: 8px;
  padding: 10px 20px;
  font-weight: $regular-weight;
  font-size: 16px;
  color: $full-white;
  font-weight: $medium-weight;
  i {
    padding-right: 20px;
  }
  &:hover {
    background: lighten($soft-gray, 5%);
    color: $white;
    @include ease;
  }
  &:active {
    background: darken($soft-gray, 5%);
    box-shadow: inset 0 2px 1px 0 rgba(0,0,0,0.3);
    color: $white;
  }
}

.btn-start-mobile {
  background: rgba(244, 245, 247, 0.9);
  border: none;
  border-radius: 4px;
  margin-top: 8px;
  font-weight: $regular-weight;
  font-size: 16px;
  padding: 10px 20px;
  color: $reg-blue;
  font-weight: $medium-weight;
  &:hover {
    background: lighten($soft-gray, 5%);
    color: $white;
    @include ease;
  }
  &:active {
    background: darken($soft-gray, 5%);
    box-shadow: inset 0 2px 1px 0 rgba(0,0,0,0.3);
    color: $white;
  }
}


.submit-btn .btn {
  background: $green;
  color: $white;
  border-radius: 32px;
  margin: 0 10px 10px 0;
  padding: 14px 50px;  
  font-weight: $regular-weight;
  font-size: 18px;
  box-shadow: inset 0 -1px 1px 0 rgba(0,0,0,0.3);
  &:hover {
    background: lighten($green, 5%);
    color: $white;
    @include ease;
  }
  &:active {
    background: darken($green, 5%);
    box-shadow: inset 0 2px 1px 0 rgba(0,0,0,0.3);
    color: $white;
  }
  &:focus {
    outline: none;
  }
}