// Button Styles


.btn-ios {
  display: inline-block;
  width: 240px;
  text-align: center;
  font-family: $regular-fonts;
  font-weight: $regular-weight;
  font-size: 20px;
  padding: 12px 25px;
  line-height: 32px;
}

.btn-ios {
  background: $reg-blue;
  color: #fff;
  margin-right: 35px;
}

.btn-ios i {
  font-size: 23px;
  color: #FFFFFF;
  margin-right: 20px;
}

.btn-ios:hover {
  color: #FFFFFF;
  background: $dark-blue;
}


