// The Basics 

body {
  background-color: #fff;
  color: $tag-gray;
  font-family: $main-fonts;
  font-size: 16px !important;
  font-weight: $regular-weight;
}

.modal-open .modal, body {
  padding-right: 0 !important;
}

body, html {
  overflow-x:hidden;
}


[class^="icon-"], [class*=" icon-"] {
  font-size: 32px;
  display: inline-block;
  span {
    float: left;
  }
}

img {
  max-width: 100%;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a, a:focus, a:hover {
  color: inherit;
  text-decoration: none;
  outline: none;
}

p {
  font-weight: 100;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $headline;
  font-weight: 400;
}

label {
  font-weight: $regular-weight;
  color: inherit;
}

h2 {
  @media screen and (max-width: $iphone) {
    font-size: 24px;
    color: $reg-blue;
    margin: 0.5em 0 0.3em;
  }
}
.h4, h4 {
  font-size: 16px;
}


// Header Styles

.headerwrap {
  position: relative;
  height: auto;
  max-height: 100%;
}

.headerwrap img.img-responsive {
  width: 135px;
  margin: 0 auto;
}

.headerwrap h1 {
  font-family: $headline;
  font-size: 32px;
  font-weight: $heavy-weight;
  color: $white;
}

.headerwrap h2 {
  font-family: $headline;
  font-size: 24px;
  font-weight: $light-weight;
  color: $soft-gray;
}

.ln-vid-link {
  padding: 20px 0 60px;
}

.ln-vid-link a {
  font-family: $headline;
  font-weight: $bold-weight;
  color: $orange;
  line-height: 30px;
  display: inline-block;
  font-size: 24px;
  white-space: nowrap;
}

.ln-vid-link i {
  font-size: 32px;
  margin-right: 20px;
  float: left;
}



// Page Styles

.page_content {
  font-family: $main-fonts;
  font-size: 18px;
  color: #323a45;
}

.pg-table {
  display: table;
  table-layout: auto;
  width: 100%;
}

.pg-tableCell {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
  width: 100%;
}

.soft-gray-bg {
  background: $soft-gray;
}


.white-bg {
  background: $white;
}



// Misc

.title-icon-center {
  margin-bottom: -8px;
  margin-right: 15px;
}


@-moz-document url-prefix() {
}

.wow {
   visibility: hidden;
}

// Footer Container

#footer_container {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 260px;
  padding: 20px 0 20px;
  background: $dark-blue;
  color: $off-white;
  margin-top: -0px;
  @media screen and (max-width: $small) {
    height: 300px;
    padding: 75px 0;
  }
  @media screen and (min-width: $large) {
    margin-top: 0;
  }
}

// Footer Container - Internal Pages

#page_footer_cont {
  top: auto;
  padding: 20px;
  position: relative;
  z-index: 2;
  background-color: $dark-blue;
  overflow: hidden;
  h2 {
    color: $soft-gray;
  }
  p {
    color: $soft-gray;
  }
}

.footer-logo {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: $light-weight;
  a {
    display: block;
  }
  p {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    color: $lighter-gray !important;
    font-family: $regular-fonts;
  }
  img {
    padding: 10px;
    width: 210px;
  }
}

.footer-social {
  text-align: left;
  overflow: hidden;
  padding: 10px 0;
  @media screen and (max-width: $small) {
    text-align: center;
  }
}

.footer-social li {
  display: inline-block;
  margin: 0 5px;
  &:hover {
    color: $lighter-gray;
    @include ease;
  }
}

.footer-social li a {
  color: $dark-blue;
  padding-top: 5px;
  display: inline-block;
  width: 34px;
  height: 34px;
  border: none;
  background-repeat: no-repeat;
  background-size: 40px 40px;
  position: relative;
  background-color: $mid-blue;
  border-radius: 50%;
  text-align: center;
  &:hover {
      background-color: $lighter-gray; 
      @include ease;
    }
}

.footer-links {
  padding-top: 20px;
  float: right;
  left: auto;
  right: 0;
  width: 450px;
  position: relative;
  z-index: 100;
  h5 {
    font-family: $headline;
    font-weight: $mbold-weight;
    color: $lighter-gray;
    font-size: 16px;
  }
  a {
    font-family: $headline;
    font-weight: $light-weight;
    font-size: 14px;
    &:hover {
      color: $lighter-gray;
      @include ease;
    }
  }
  li {
  margin: 6px 0 0;
  min-width: 115px;
  font-family: $main-fonts;
  color: $mid-blue;
  font-size: 16px;
  }
}

#footer_legal {
  padding-top: 20px;
  padding-left: 5px;
  p {
    font-size: 12px;
    color: $mid-blue !important;
  }
  a {
    font-size: 12px;
    color: $mid-blue;
    &:hover {
      color: $lighter-gray; 
      @include ease;
    }
  }
}

// Mobile Footer

.mobile-footer-nav {
    padding-top: 20px;
    font-size: 14px;
    font-family: $headline;
    font-weight: $light-weight;
  }

#mobile_links {
  padding-top: 20px;
  padding-bottom: 30px;
  line-height: 1.4em;
  color: $lighter-gray;
  font-weight: $regular-weight;
  font-size: 18px;
}

#mobile_legal {
  padding-top: 30px;
  font-weight: $regular-weight;
  font-size: 14px;
  p {
    color: $mid-blue;
  }
  a {
    color: $mid-blue;
  }
}
