// Main Navbar 

.promo-sub-head {
  position: fixed;
  width: 100%;
  background-color: transparent;
  top: 0;
  padding: 0px;
  z-index: 600;
  transition: all 0.5s ease;
  height: 55px;
  @media screen and (max-width: $small) {
    padding: 5px 15px;
    position: relative;
  }
  @media screen and (max-width: $iphone) {
    padding: 10px 15px;
  }
  @media screen and (min-width: $medium) {
    padding: 0 10px;
  }
}

.top-sub-head {
  position: fixed;
  width: 100%;
  background-color: rgba(29,39,53,0.9);
  top: 0;
  padding: 0px;
  z-index: 600;
  transition: all 0.5s ease;
  height: 55px;
  @media screen and (max-width: $small) {
    padding: 5px 15px;
    position: relative;
  }
  @media screen and (max-width: $iphone) {
    padding: 10px 15px;
  }
  @media screen and (min-width: $medium) {
    padding: 0 10px;
  }
}

#header-logo {
  margin: 8px auto 0;
  width: 150px;
}

.navbar-nav > li > a#login-button,
.navbar-nav > li > a.dropdown-toggle {
  height: 54px;
}

.navbar-nav > li > a {
  font-family: $headline;
  font-size: 16px;
  font-weight: $light-weight;
  color: $full-white;
}

#login-button {
  background: transparent;
  margin-right: 5px;
  font-weight: $regular-weight;
  @media screen and (max-width: $small) {
    display: none;
  }
}

#signup-button {
  background: $button-gray;
  border: none;
  width: 100px;
  padding: 10px;
  margin-top: 6px;
  color: $full-white;
  font-weight: $regular-weight;

  @media screen and (max-width: $small) {
    display: none;
  }
  &:hover {
    @include ease;
    background: darken($button-gray, 10%);
  }
}

#dropdown-button {
  margin-left: 5px;
  @media screen and (max-width: $small) {
    display: none;
  }
}

.dropdown-icon {
  padding: 0 8px;
}

.icon-ellipses:before {
	font-size: 28px;
}


// Dropdown Menu

.dropdown-menu {
  background: $dark-blue;
}

.dropdown-menu > li > a {
  padding-top: 8px;
  font-size: 14px;
  color: $off-white;
}

.dropdown-menu > a:hover {
  @include ease;
  color: inherit;
  background: $reg-blue;
}

#btn_plus {
  font-size: 24px;
  font-weight: $regular-weight;
  color: $full-white;
  background: $orange;
  padding: 8px 15px;
  margin-top: 7px;
  margin-right:5px;
  border: none;
  &:hover {
    background: $orange-2;
    color: $off-white;
  }
}

a#ln-logo {
  width: 190px;
  display: block;
  @media screen and (max-width: $small) {
    width: 100%;
    height: auto;
  }
}

.top-header .nav-pullleft {
  display: none;
  margin-left: 20px;
  @media screen and (max-width: $small) {
    display: block;
    font-size: 2em;
    margin: 0 auto;
    padding: 0 auto;
  }
}

.menu-btn {
    display: block;
    color: $full-white;
  }

.top-header #ln-logo {
}

.nav-background {
  background: none;
}

.top-sub-head ul, li {
  list-style: none;
  margin: 0;
  padding: 5;
}

.sub-logo {
  float: left;
  margin-left: 10px;
  @media screen and (max-width: $small) {
    margin: 0 auto;
    width: 200px;
    float: none;
  }
  @media screen and (min-width: $medium) {
    padding: 5px 0 0;
  }
}


// Pushy Menu Appearance

.pushy {
  position: fixed;
  width: 300px;
  height: 100%;
  top: 0;
  z-index: 9999;
  background: $reg-blue;
  font-size: 1.1em;
  font-weight: 300;
  -webkit-box-shadow: inset -10px 0 6px -9px rgba(0, 0, 0, .7);
  -moz-box-shadow: inset -10px 0 6px -9px rgba(0, 0, 0, .7);
  box-shadow: inset -10px 0 6px -9px rgba(0, 0, 0, .7);
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.pushy a {
  font-family: $headline;
  font-weight: $medium-weight;
  font-size: 24px;
  display: block;
  color: $white;
  padding: 16px 16px;
  border-bottom: 1px solid rgba(29, 39, 53, 0.3);
  border-top: 1px solid rgba(29, 39, 53, 0.3);
  text-decoration: none;
  text-align: left;
  a:hover{
    background: $orange;
    color: $white;
  }
  a:active {
    background: $orange;
    color: $white;
  }
}

.pushy, html, body {
  overflow-x: hidden;
  height: 100%;
}

.ln-cr li.col-xs-6 {
  padding: 0;
  a {
    border-right: 1px solid rgba(29, 39, 53, 0.3);
    border-left: 1px solid rgba(29, 39, 53, .3);
    padding-left: 25px;
  }
}

// Menu Movement

.pushy-left {
  -webkit-transform: translate3d(-300px, 0, 0);
  -moz-transform: translate3d(-300px, 0, 0);
  -ms-transform: translate3d(-300px, 0, 0);
  -o-transform: translate3d(-300px, 0, 0);
  transform: translate3d(-300px, 0, 0);
}

.pushy-open {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.container-push, .push-push {
  -webkit-transform: translate3d(300px, 0, 0);
  -moz-transform: translate3d(300px, 0, 0);
  -ms-transform: translate3d(300px, 0, 0);
  -o-transform: translate3d(300px, 0, 0);
  transform: translate3d(300px, 0, 0);
}

// Menu Transitions

.pushy, #container, .push {
  -webkit-transition: -webkit-transform .2s cubic-bezier(.16, .68, .43, .99);
  -moz-transition: -moz-transform .2s cubic-bezier(.16, .68, .43, .99);
  -o-transition: -o-transform .2s cubic-bezier(.16, .68, .43, .99);
  transition: transform .2s cubic-bezier(.16, .68, .43, .99);
}

// Site Overlay

.site-overlay {
  display: none;
}

.pushy-active .site-overlay {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9998;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-animation: fade 500ms;
  -moz-animation: fade 500ms;
  -o-animation: fade 500ms;
  animation: fade 500ms;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// Example Media Query

@media screen and (max-width: 768px) {
  .pushy {
    font-size: 1.0em;
  }
}

#ln-wrapper {
  -webkit-transition: -webkit-transform .2s cubic-bezier(.16, .68, .43, .99);
  -moz-transition: -moz-transform .2s cubic-bezier(.16, .68, .43, .99);
  -o-transition: -o-transform .2s cubic-bezier(.16, .68, .43, .99);
  transition: transform .2s cubic-bezier(.16, .68, .43, .99);
}

.ln-cr {
  height: 30px;
  line-height: 30px;
  padding: 80px 0;
}

.logins {
  background
  a {
    padding: 15px 10px;
  }
}

// Logged in Nav

.logged-in-nav > li > a {
  min-width: 55px;
  text-align: center;
  vertical-align: middle;
  &#loggedinNav {
    padding-top: 8px;
    white-space: nowrap;
    span {
      margin: 0 12px;
      font-size: 1.2em;
    }
  }
  & > i {
    font-size: 20px;
  }
  &#btn_plus > i {
    font-size: 25px;
  }
}

.logged-in-nav > li > .dropdown-menu:before {
  right: 18px;
}

.rounded {
  border-image: none;
  border-radius: 15px;
  border: 1px solid #FFFFFF;
  font-size: 20px;
  height: 25px;
  padding: 2px;
  text-align: center;
  width: 25px;
}

.logged-in-pushy {
  min-height: 540px;
  .ln-cr {
    height: auto;
    padding: 130px 0 0;
  }
  li {
    a i {
      font-size: 1.1em;
      margin-right: 10px;
      &.fa-plus {
        color: $orange;
      }
    }
    &.p-nav-profile {
      a {
        text-align: center;
        &:hover {
	        background: none;
        }
      }
      img {
        width: 100px;
      }
      strong {
        display: block;
        font-size: 1.25em;
        margin: 5px 0;
      }
    }
  }
}

/*media query*/

@media only screen and (min-width: 1200px) and (max-width: 1600px) {

}

@media only screen and (min-width: 992px) and (max-width: 1200px) {

}

@media only screen and (min-width: 992px) {
  .ln-cont-text {
    padding-top: 60px;
    text-align: right;
  }
  .ln-ft-ll {
    text-align: left;
  }
  .ln-ft-rl {
    text-align: right;
  }
  .ln-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  .ln-mblImg {
    text-align: left;
  }
}

@media only screen and (max-width: 991px) {
  .topPop {
    display: none;
  }
  .ln-mblImg {
    padding-top: 20px;
    padding-bottom: 10px;
  }
  .login-links {
    display: none;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
}

@media only screen and (max-width: 767px) {
  .logged-in-nav {
    display: none;
  }
}

@media only screen and (max-width: 480px) {
  .landingPage .pushy,
  body > .pushy {
    width: 250px;
  }
}

// download button

#apple-icon {
  padding-right: 20px;
}
