// Team View SASS


.team-thumbs {
  padding-top: 5%;
  h3 {
    font-family: $headline;
    font-weight: $mbold-weight;
    font-size: 28px;
    color: $reg-blue;
  }
  h4 {
    font-family: $headline;
    font-weight: $light-weight;
    font-size: 20px;
    color: $mid-blue;
  }
}