// Button Styles


.btn-ios {
  display: inline-block;
  width: 240px;
  text-align: center;
  font-family: $regular-fonts;
  font-weight: $regular-weight;
  font-size: 20px;
  padding: 12px 25px;
  line-height: 32px;
}

.btn-ios {
  background: $reg-blue;
  color: $white;
  &:hover {
  	background: $dark-blue;
  	@include: ease;
  }
}

.btn-ios i {
  font-size: 24px;
  color: $white;
  margin-right: 20px;
}

