// Jobs Page Styles

#jobs_head {
  background-image: url("../images/headers/developers.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center -80px;
}

.jobs-container {
  padding: 60px 0;
}

.job-titles .active {
  color: $reg-blue;
}


.jobs-list {
  position:relative;
  display: block;
  cursor: pointer;
  padding: 20px;
  h2 {
    margin: 10px 0 10px;
    font-family: $headline;
    font-weight: $heavy-weight;
    font-size: 18px;
    color: $dark-blue;
  }
  li {
    margin: 5px 0 5px;
  }
  a {
    font-weight: $regular-weight;
    font-size: 16px;
    color: $mid-blue;
    &:hover {
      color: $orange;
    }
    &:active {
      color: $reg-blue;
    }
  }
}

.email-us {
  margin-top: 20px;
  padding: 20px;
  padding-bottom:40px;
  p {
    font-family: $headline;
    font-weight: $medium-weight;
    color: $reg-blue;
    font-size: 14px;
  }
}

.job-date {
  font-weight: $regular-weight;
  color: $mid-gray;
  font-size: 14px;
}

.job-text {
  h3 {
    font-family: $headline;
    font-weight: $regular-weight;
    color: $reg-blue;
    font-size: 32px;
  }
  h4 {
    font-family: $headline;
    font-weight: $mbold-weight;
    color: $reg-blue;
    font-size: 16px;
    text-transform: uppercase;
  }
  p {
    font-family: $headline;
    font-weight: $light-weight;
    color: $reg-blue;
    font-size: 16px;
  }
}
