// Legal Page Styles


.legal-header {
  	background-image: url("../images/headers/legal-header.png");
	background-size: cover;
  	background-attachment: fixed;
  	background-position: center -100px;
 	h1{
	    font-family: $headline;
	    font-weight: $bold-weight;
	    color: $white;
	    font-size: 32px;
	    text-transform: none;
	    @media screen and (max-width: $small) {
	      font-size: 32px;
	    }
	}
  	h2 {
	    font-family: $headline;
	    font-weight: $light-weight;
	   	color: $white;
	    font-size: 18px;
	    @media screen and (max-width: $small) {
	      font-size: 24px;
	    }
  	}
  	h3 {
	    font-family: $headline;
	    font-weight: $medium-weight;
	    font-size: 16px;
	}
}

#overlay {
	width:100%;
	height:100%;
	background: rgba(50, 58, 69, 0.7); 
	background-size: cover;
}


.legal-text {
	padding-top: 3%;
	padding-bottom: 5%;
	padding-left: 15px;
	padding-right: 15px;
	ul {
		list-style: decimal;
		margin: 0px;
		padding: 0px;
		color: $reg-blue;
		font-weight: $light-weight;
		font-size: 16px;
	}
	h2 {
		color: $reg-blue;
		font-weight: $regular-weight;
		font-size: 28px
	}
	h3 {
	color: $reg-blue;
	text-transform: uppercase;
	font-size: 18px;
	margin-left: 20px;
	font-weight: $medium-weight;
	}
	p {
		color: $reg-blue;
		font-weight: $light-weight;
		font-size: 16px;
	}
	li {
		list-style: decimal;
		margin-left: 40px;
		padding: 5px;
	}
	a {
		color: $twitter-blue;
	}
}
