// Promo Page Styles

html,
body {
  height: 100%;
  background-color: $reg-blue;
}


#wrapper {
	position: relative;
	background-color: $reg-blue;
	min-height: 100%;
  	height: auto !important;
  	height: 100%;
  	margin: 0 auto -80px;
  	padding-bottom: -80px;
}

/*
#wrapper {
    position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100%;
    height: 100%;
    background-color: $reg-blue;
}
*/

.hero {
 	margin-top: 5%;
 	@media screen and (max-width: $medium) {
    margin-top: 50px;
	}
}

.welcome {
	margin-top: 100px;
	h1 {
		margin: 20px;
		font-family: $headline;
		color: $soft-gray;
		font-weight: $heavy-weight;
		font-size: 36px;
		@media screen and (max-width: $small) {
	      font-size: 32px;
	      text-align: center;
	    }
	}
	p {
		margin: 20px;
		font-family: $headline;
		color: $soft-gray;
		font-weight: $light-weight;
		font-size: 20px;
		@media screen and (max-width: $small) {
	      margin-top: 10px;
	      font-size: 18px;
	      text-align: center;
	    }
	}
	@media screen and (max-width: $medium) {
    margin-top: 50px;
  }
}

.promo-buttons {
	margin-top: 60px;
}

.disclaimer {
	margin-top: 20px;
	p {
		color: $light-gray;
		font-size: 14px;
		font-weight: $light-weight;
	}
	@media screen and (max-width: $small) {
    margin-top: none;
  }
}

.hero-image {
	@media screen and (max-width: $small) {
		text-align: center;
	}
}


.video-link {
	margin: 20px;
	font-weight: $mbold-weight;
	color: $orange;
	font-size: 18px;
	i {
    	font-size: 28px;
    	margin-right: 20px;
	}
	p {
		padding-bottom: 2px;
	}
}

// Sticky Footer

.site-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: transparent;
	li {
	    font-size: 16px;
	    color: $mid-gray;
	    display: inline;
	    padding: 20px;
	    &:hover {
		    color: $white;
		    @include ease;
			 }
	  &:active {
	    color: $white;
		}
	}
	p {
		font-size: 14px;
    	color: $mid-blue;
    	display: inline;
    	padding: 20px;
	}
	@media screen and (max-width: $small) {
    background-color: $reg-blue;
    height: 60px;
	}
}