.ed_banner_wrap {
  @extend .hide_before_after;
  position: relative;
  min-height: 500px;
  background: url("#{$image-path}/event_detail/header-bg.png") no-repeat center center transparent;
  background-size: cover;
  .pmulc_price {
    @extend .pmulc_price;
    font-size: 1.8em;
    padding: 5px 20px;
    top: 50px;
     @media all and (max-width: $kinda-small) {
	   display: none;
   }
  }
}
.edb_btm {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  color: $full-white;
}
.edb_btm_lft {
  float: left;
}
.ed_date {
  font-size: 24px;
  line-height: 1.5em;
  float: left;
  span.cal_in {
    @extend .cal_in_txt;
    margin: 0;
    font-size: 24px;
    font-weight: $medium-weight;
    @media all and (max-width: $kinda-small) {
	   font-size: 16px;
   }
    @media all and (min-width: $small + 1){
      display: inline-block;
      border: none;
      strong {
        margin-top: 6px;
        line-height: 1;
        font-size: 32px;
        font-weight: 100;
        
      }
    }
  }
}
.edb_ltxt {
  float: left;
  padding-left: 15px;
   @media all and (max-width: $kinda-small) {
	   padding-top: 5px;
   }
  h4 {
   /* font-size: 1.125em; */
   font-size: 28px;
    margin: 0 0 4px;
    line-height: 1.15em;
   @media all and (max-width: $kinda-small) {
	   font-size: 16px;
   }
  }
  p {
    margin: 0;
    font-size: 24px;
    @media all and (max-width: $kinda-small) {
	   font-size: 14px;
   }
  }
}
.edb_btm_right {
  float: right;
  padding-top: 18px;
  line-height: $icon-font-size - 8;
  .icon-lock {
    float: left;
    font-size: $icon-font-size - 8;
    margin-right: 10px;
  }
}

.ed_nav_wrap {
  background: $off-white;
  .ed_profile_nav {
    padding-right: 380px;
  }
  .profile_nav {
    border-top: none;
    li {
	    a {
		    font-size: 16px;
	    }
    }
  }
}

.event_details_page_container {
  padding-bottom: 40px;
}
.ed_pc_inner {
  position: relative;
  min-height: 550px;
  @extend .hide_before_after;
}
.ed_pc_ileft {
  margin-right: 380px;
  padding-top: 25px;
}
.ed_pc_fx_sidebar {
  position: absolute;
  top: -72px;
  right: 0;
  width: 360px;
}
.ed_sidebar_top_link {
  height: 72px;
  & > ul {
    & > li {
      width: 50%;
      padding: 5px;
      float: left;
      & > a {
        display: block;
        color: $light-gray;
        line-height: 1.2;
        padding: 16px 10px;
        max-width: 100%;
        border: none;
        &.btn-green {
          height: auto;
          padding: 18px;
          font-size: 1em;
          color: $full-white;
          &:hover {
            color: $full-white;
          }
        }
        span[class^="icon"]{
          font-size: $icon-font-size;
          float: left;
        }
      }
      &.admin_dropdown_list {
        & > a {
          color: $light-gray;
          font-size: 1em;
          line-height: 32px;
          span[class^="icon"] {
            margin-right: 6px;
          }
          .fa {
            font-size: 1.45em;
          }
        }
        &.admin_dropdown_list_paid {
          li {
            padding: 0 0 10px 10px;
            color: $full-white;
            line-height: 40px;
            &:first-child {
              padding-top: 10px;
            }
            .cal_in {
              @extend .cal_in_txt;
            }
          }
        }
      }
    }
  }
}
.admin_dropdown_list {
  .dropdown-menu {
    background: $medium-gray;
    padding: 0;
    left: auto;
    right: 0;
    margin-top: -5px;
    border-radius: 0;
    border: none;
    width: 360px;
    &:before {
      font-size: 32px;
      top: -29px;
      color: $medium-gray;
      right: 42px;
    }
    li {
      width: 100%;
      a {
        color: $full-white;
        padding: 13px 25px;
        line-height: 32px;
        font-size: 1.1em;
        span[class^="icon"] {
          font-size: $icon-font-size;
          margin-right: 20px;
          float: left;
        }
        &:hover {
          background: $dark-blue;
        }
      }
      li.active {
        background: $dark-blue;
      }
    }
  }
  .dropdown-menu > .active > a,
  .dropdown-menu > .active > a:focus,
  .dropdown-menu > .active > a:hover {
    background: $dark-blue;
  }
}
.ed_sidebar_cont {
  background: $off-white;
  padding: 15px;
  margin-top: 25px;
  color: $medium-gray;
  .stlt_img {
    margin-right: 14px;
  }
}
.es_profile_txt {
  h2 {
    font-size: 1.375em;
    margin: 0;
    color: inherit;
    @media all and (max-width: $kinda-small) {
	  padding-top: 20px;
   }
  }
  .eric_twt {
    font-size: 0.875em;
    display: block;
    margin-bottom: 2px;
  }
  .ph_info {
    font-size: 15px;
    color: inherit;
  }
}
.progressbar_top ul,
.progressbar_bottom ul{
  margin: 5px 0;
  @extend .table_list;
  li {
    color: $medium-gray;
    vertical-align: bottom;
     @media all and (max-width: $kinda-small) {
	  padding-bottom: 15px;
   }
    &:first-child {
      text-align: left;
    }
    &:last-child {
      text-align: right;
    }
    &:nth-child(2){
      font-size: 2.1em;
      font-weight: $bold-weight;
    }
  }
}
.progressbar_bottom ul {
  font-size: 0.875em;
  li {
    color: $tag-gray;
    vertical-align: top;
    &:nth-child(2){
      font: inherit;
      color: $light-gray;
    }
  }
}

.esc_inner {
  .progress {
    margin-bottom: 0;
  }
}
.ed_sidebar_cont_social {
  padding: 15px 10px;
}
.ed_sidebar_social ul {
  @extend .table_list;
  li {
    width: 20%;
    a {
      display: block;
      color: $full-white;
      padding: 15px 0 0;
      height: 67px;
    }
    &.eds_fb a {
      background: $facebook-blue;
      &:hover {
        background: $facebook-blue-2;
      }
    }
    &.eds_twt a {
      background: $twitter-blue;
      font-size: $icon-font-size + 2;
      line-height: 1.1;
      &:hover {
        background: $twitter-blue;
      }
    }
    &.eds_mail a {
      background: $light-gray;
      &:hover {
        background: $mid-blue-2;
      }
    }
    &.eds_cal a {
      background: $mid-blue;
      .icon-Calendar_II {
        .path1:before {
          color: $mid-blue;
        }
      }
      &:hover {
        background: $mid-blue-2;
        .icon-Calendar_II {
          .path1:before {
            color: $mid-blue-2;
          }
        }
      }
    }
    &.eds_link a {
      background: $orange;
      &:hover {
        background: $orange-2;
      }
    }
  }
}
//End right fix sidebar

.ed_post_content {
  position: relative;
  @extend .hide_before_after;
  &>img {
    position: absolute;
    left: 10px;
    top: 5px;
    width: 50px;
    z-index: 500;
  }
  .input-group {
    .form-control {
      font-size: 1em;
      padding: 15px 10px 15px 80px;
      border-color: $light-gray;
      height: 60px;
      border-radius: 0;
    }
  }
  .btn {
    padding: 14px 20px 14px 30px;
    height: 60px;
    width: 140px;
    line-height: 32px;
    border: 1px solid $medium-gray;
    border-radius: 0;
    &:hover {
      border: 1px solid $medium-gray;
    }
    span.pull-right {
      margin-left: 8px;
    }
  }
}
.ed_comment_list {
  padding: 25px 0 0;
  color: $medium-gray;
  font-size: 0.9em;
  .media {
    .media-left {
      padding-right: 15px;
      white-space: nowrap;
      a {
        display: block;
        width: 50px;
      }
      img {
        width: 50px;
      }
    }
    .media-body {
      padding-top: 8px;
      &.media-body-right-medai {
        padding-top: 0;
      }
      .media-heading {
        color: inherit;
        font-size: 1.1em;
        font-weight: $bold-weight;
        .light_txt {
          font-size: 0.75em;
          color: $light-gray;
          font-weight: $light-weight;
        }
      }
      p{
        margin-right: 40px;
        &:last-child {
          margin-bottom: 0;
        }
      }
      .media-body {
        .media-heading {
          font-size: 0.95em;
        }
      }
    }
  }
}
.media-left.no-texts {
  border-left: 2px solid $medium-gray;
}


.edc_msg {
  padding-top: 20%;
}
.edc_msg_inner {
  text-align: center;
  vertical-align: middle;
  h3 {
    margin-top: 5px;
  }
  .icon-messages_II {
    font-size: $icon-font-size * 2;
    span:before {
      color: $medium-gray;
    }
    span.path4:before,
    span.path3:before {
      color: $orange;
    }
  }
}


.profile-edg-list {
  li {
    height: 200px;
    &:hover {
      .pl-hover {
        display: none;
      }
    }
    .pl_item {
      position: relative;
      display: block;
      height: 150px;
      .pl-hover {
        padding-top: 58px;
        a {
          display: block;
          text-align: center;
        }
      }
      &:hover {
        .pl-hover {
          display: block;
        }
      }
      > img {
        display: block;
        width: 100%;
        height: 100%;
      }
    }
    .plg-name {
//      height: 50px;
    }
    .light_txt {
      color: $light-gray;
      padding-top: 0;
    }
    h4 {
      margin: 7px 0 0;
    }
  }
}
.edg_ttl {
  position: relative;
  display: block;
  width: auto;
  border: none;
  box-shadow: none;
  background: $off-white;
  border-radius: 0;
  font: inherit;
  max-width: none;
  margin-bottom: 20px;
  .popover-title {
    font-weight: $bold-weight;
    font-size: 1.125em;
    border: none;
    border-radius: 0;
    background: $off-white;
    z-index: 10;
  }
  &.popover.top > .arrow {
    border-top-color: $off-white;
    left: 70px;
    &:after {
      border-top-color: $off-white;
    }
  }
}
.edcm_icons {
  .icon-girl_II,
  .icon-guy,
  .icon-Girl_V {
    font-size: $icon-font-size * 1.6;
  }
}
.edm_contents {
  padding-top: 10px;
  p {
	  font-size: 16px;
  }
}
.read_more_wrap {
  padding-top: 10px;
}
.separator {
  position: relative;
  text-align: center;
  margin: 25px 0;
  @extend .hide_before_after;
  span[class^="icon"] {
    display: inline-block;
    font-size: $icon-font-size - 3;
    color: $tag-gray;
    padding-left: 20px;
    padding-right: 20px;
    background: $full-white;
    position: relative;
    z-index: 50;
  }
  &:after {
    display: block;
    width: 100%;
    position: absolute;
    height: 1px;
    overflow: hidden;
    background: $medium-gray;
    top: 50%;
    left: 0;
    margin-top: -2px;
  }
}
.emc_ttl {
  padding-bottom: 30px;
  h3 {
    margin-bottom: 5px;
    color: $medium-gray;
  }
  p {
    font-size: 0.875em;
  }
}
.icon-Money_circle .path1::before {
  color: $mid-gray;
}

.btm_link_block {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  padding: 10px;
  text-align: center;
  z-index: 500;
  ul {
    display: inline-block;
  }
  li {
    float: left;
    margin-left: 8px;
    &:first-child {
      margin-left: 0;
    }
    a {
      color: $full-white;
      line-height: 55px;
      display: block;
      &:hover, &:focus {
        color: $full-white;
        outline: none;
      }
      @media all and (max-width: $iphone) {
        &.btn {
          width: 150px;
          margin-left: 0;
        }
      }
    }
  }
  .icns_li {
    a {
      height: 70px;
      width: 90px;
      text-align: center;
      padding-top: 8px;
      border-radius: 5px;
      background: $medium-gray;
      box-shadow: 0 0 2px $medium-gray inset;
      &:hover {
        background: $dark-blue;
      }
    }
    span[class^="icon"]{
      color: $full-white;
      font-size: 50px;
      span:before {
        color: inherit;
      }
    }
    span[class^="icon-Messages"] {
      font-size: 45px;
      padding-top: 5px;
    }
  }
}
.input-group {
  textarea.form-control {
    resize: none;
  }
}


#follow_number2 {
  @extend #follow_number;
}

.host_btm_links {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 450;
  background: $medium-gray;
  width: 100%;
  padding: 15px 15px 100px;
  display: none;
  color: $full-white;
  text-align: center;
  h3 {
    color: inherit;
    margin: 0 0 20px;
    font-weight: $bold-weight;
    font-weight: 300;
    font-size: 18px;
  }
  ul {
    @extend .table_list;
    li {
      width: 33.33%;
      text-align: center;
      a {
        color: inherit;
        span[class^="icon"] {
          font-size: $icon-font-size * 1.8;
        }
        strong {
          display: block;
          padding-top: 10px;
          font-size: 1.1em;
          font-weight: 100;
        }
      }
    }
  }
  h4, h2 {
    font-weight: $bold-weight;
    color: inherit;
    font-size: 1.25em;
  }
  h2 {
    font-size: 2.6em;
    margin: 10px 0;
  }
  h5 {
    color: inherit;
    font-size: 1.1em;
  }
}

.ed_pc_fx_sidebar.fixed_t,
.ed_nav_wrap.fixed_t {
  top: 0;
  position: fixed;
  right: auto;
  z-index: 500;
}
.ed_nav_wrap.fixed_t {
  width: 100%;
  left: 0 !important;
}
.ed_pc_fx_sidebar.fixed_t {
  .ed_sidebar_top_link {
    background: $dark-blue;
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 15px;
    padding-right: 15px;
    > ul {
      > li {
        > a {
          color: $full-white;
        }
      }
    }
  }
}

  //Modals
  .chck_ttl {
    padding: 10px 0 20px;
    text-align: center;
    color: $mid-gray;
    label {
      margin-bottom: 15px;
    }
    input {
      text-align: center;
      width: 100%;
      display: block;
      border: none;
      color: $green;
      font-size: 2.8em;
      padding: 4px;
    }
  }
  .chk_apm_box {
    border-radius: 5px;
    border: 1px solid $mid-gray;
    padding: 2px 5px;
    background: $soft-gray;
    margin-top: 12px;
    ul {
      @extend .table_list;
      li {
        display: table-row;
        > span {
          display: table-cell;
          vertical-align: middle;
          color: $medium-gray;
          padding: 5px;
          text-align: left;
          line-height: 1;
          &:last-child {
            text-align: right;
          }
        }
        span[class^="icon"]{
          font-size: $icon-font-size * 2;
          line-height: 45px;
          float: left;
        }
        .edch_cn {
          display: inline-block;
          font-size: 1.2em;
          line-height: 45px;
          margin-left: 20px;
          white-space: nowrap;
        }
      }
    }
    &.cab_light_bg {
      background: $off-white;
      ul {
        li {
          > span {
            font-size: 1.3em;
            font-weight: $mbold-weight;
            line-height: 1.2;
            &:first-child {
              text-transform: uppercase;
            }
            &:last-child {
              color: $mid-gray;
            }
          }
        }
      }
    }
  }
  .ed_cn_top {
    padding: 10px;
    text-align: center;
    .icon-Checkmark_circle {
      font-size: $icon-font-size * 2.5;
      .path2:before {
        color: $green;
      }
    }
    h3 {
      color: $tag-gray;
      font-size: 1.2em;
    }
  }

  .ed_cn_share_link {
    padding-top: 10px;
    ul {
      @extend .table_list;
      li {
        width: 33.33%;
        &:first-child {
          text-align: left;
        }
        &:last-child {
          text-align: right;
        }
        a {
          background: $link-blue;
          border-radius: 4px;
          border: 1px solid transparent;
          box-shadow: 0 -1px 1px rgba(0,0,0, 0.6) inset;
          display: inline-block;
          color: $full-white;
          text-align: center;
          font-size: 1em;
          padding: 10px 16px;
          width: 145px;
          max-width: 98%;
          line-height: 32px;
          span[class^="icon"],
          span[class^="fa"] {
            float: left;
            font-size: $icon-font-size;
            margin-right: 5px;
          }
          &.fb {
            background: $facebook-blue;
            &:hover {
              background: $facebook-blue-2;
            }
          }
          &.twt {
            background: $twitter-blue;
            &:hover {
              background: $twitter-blue-2;
            }
          }
          &.cal {
            background: $mid-blue;
            .icon-Calendar_II {
              .path1:before {
                color: $mid-blue;
              }
            }
            &:hover {
              background: $mid-blue-2;
              .icon-Calendar_II {
                .path1:before {
                  color: $mid-blue-2;
                }
              }
            }
          }
          &.eml {
            background: $mid-gray;
            &:hover {
              background: $mid-blue;
            }
          }
        }
      }
    }
  }


  @media all and (max-width: $small) {
    .ed_pc_fx_sidebar {
      position: static;
      width: 100%;
      margin: 0;
      padding-top: 15px;
      .separator {
        margin: 0;
      }
    }
    .ed_sidebar_cont {
      background: none;
      margin: 0;
      .stlt_img {
        margin-right: 30px;
      }
    }
    .es_profile_txt {
      padding-top: 10px;
    }
    .separator {
      span[class^="icon"] {
        color: $mid-gray;
      }
      &:after {
        height: 2px;
        background: $mid-gray;
        margin-top: -3px;
      }
    }
    .ed_pc_ileft {
      padding-top: 20px;
      margin: 0;
    }
    .read_more_wrap {
      text-align: center;
    }
    .progress {
      background: $off-white;
    }
    .nav_right_link {
      float: right;
      padding-top: 5px;
      padding-right: 10px;
      color: $full-white;
    }
    .input-group-btn.visible-xs-inline {
      display: table-cell !important;
    }
    .ed_post_content {
      position: fixed;
      z-index: 2500;
      bottom: 0;
      left: 0;
      width: 100%;
      height: auto;
      background: $off-white;
      padding: 15px;
      border-top: 1px solid $mid-gray;
      > img {
        display: none;
      }
      .input-group {
        .form-control {
          padding-left: 15px;
          border-radius: 5px;
          border-color: $mid-gray;
        }
        .btn {
          padding-left: 15px;
          padding-right: 0;
          border: none;
          background: none;
          width: auto;
          &.left_gbtn {
            padding-right: 15px;
            padding-left: 0;
          }
          .pull-left {
            display: none;
          }
        }
        span[class^="icon"] {
          color: $medium-gray;
        }
      }
    }
    .joined_invited_list {
      .fn_tttl {
        padding: 10px 0;
      }
    }
    .edg_l_empt {
      padding-top: 45%;
    }
    .edcm_icons .icon-girl_II, .edcm_icons .icon-guy, .edcm_icons .icon-Girl_V {
      font-size: $icon-font-size * 2;
    }

    .ed_banner_wrap {
      min-height: 360px;
    }
    .ed_cn_share_link {
      padding-bottom: 25px;
      border-bottom: 1px solid $mid-gray;
      ul {
        li {
          width: 50%;
          text-align: center !important;
          padding: 10px;
          display: inline-block;
          float: left;
        }
      }
    }
    .modal-dialog .fmodal_wrap {
      .btm_close {
        padding-top: 35px;
        padding-bottom: 10px;
        text-align: center;
        .modal-close {
          position: static;
          display: inline-block;
          float: none;
          background: #FFFFFF;
          .icon-decline_Outline {
            font-size: $icon-font-size * 1.25;
          }
        }
      }
    }

}
.list-inline {
	font-size: 18px;
	color: $light-gray;
	 @media all and (max-width: $kinda-small) {
	   padding: 12px 0;
   }
	
}