.fmodal_container {
  padding: 55px 0 0;
}
.modal-dialog {
  z-index: 1050;
}
.modal_top_head {
  padding: 15px;
  text-align: center;
  background: $off-white;
  h3 {
    color: $light-gray;
    font-size: 0.9em;
    margin: 0 auto;
    line-height: $icon-font-size;
    width: 460px;
    max-width: 100%;
    .icon-Exclamation {
      float: left;
      margin-left: -10px;
    }
  }
  .icon-Exclamation {
    margin-right: 15px;
  }
}
.fmodal_full_page_cont {
  padding: 25px 0;
}
.fmodal_wrap {
  border: 1px solid $mid-gray;
  border-radius: 8px;
  color: $full-white;
  width: 480px;
  margin: 0 auto;
  max-width: 100%;
  form {
    margin: 0;
    padding: 0;
  }
}
.fmodal_head {
  background: $off-white;
  padding: 25px;
  border-radius: 8px 8px 0 0;
  h2 {
    margin: 0;
    font-size: 1.35em;
    line-height: 1;
    color: $medium-gray;
  }
}
.fmodal_body {
  padding: 25px;
  background: $full-white;
  border-radius: 0 0 8px 8px;
  h4 {
    margin: 0 0 20px;
    font-size: 1em;
    color: $medium-gray;
  }
  .mw_btm {
    h3 {
      margin: 0;
    }
  }
}
.modal_input {
  position: relative;
  margin-bottom: 15px;
  input {
    @extend .default-input;
  }
  span[class^="icon"]{
    position: absolute;
    display: block;
    top: 50%;
    margin-top: -.45em;
    left: 10px;
    color: $mid-gray;
    font-size: $icon-font-size;
  }
  span.icon-x, span.icon-checkmark {
    color: $google-red;
    font-size: 22px;
    right: 10px;
    left: auto;
    display: none;
  }
  span.icon-checkmark {
    font-size: 24px;
    color: $green;
  }
  &:before, &:after {
    display: none;
  }
}
.mon-focus {
  span[class^="icon"]{
    color: $medium-gray;
  }
  span.icon-x {
    color: $orange;
  }
  span.icon-checkmark {
    color: $green;
  }
}
.mb_btns {
  position: relative;
  margin-bottom: 15px;
  span[class^="icon"] {
    position: absolute;
    color: $full-white;
    top: 50%;
    margin-top: -.5em;
    font-size: $icon-font-size - 2;
    left: 30px;
  }
  span[class^="icon-checkmark"] {
    left: auto;
    right: 25px;
    font-size: $icon-font-size - 8;
  }
  &:before, &:after {
    display: none;
  }
}
.mb_btn {
  display: inline-block;
  width: 100%;
  padding: 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  background: $green;
  text-align: center;
  text-shadow: 0 0 0 $full-white;
  font-size: 1.125em;
  &:hover {
    color: $full-white;
    background: $green-2;
  }
}
.mb_btn_blue {
  background: $facebook-blue;
  &:hover {
    background: $facebook-blue-2;
  }
}
.mb_btm_txt {
  padding: 10px 0 0;
  font-style: italic;
  font-size: 0.8em;
  color: $light-gray;
  text-align: center;
  a {
    color: $orange;
    white-space: nowrap;
  }
}

.mw_btm {
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  h3 {
    color: $medium-gray;
    a {
      color: $orange;
      &:hover {
        color: $orange-2;
      }
    }
  }
}
.full-page-wrap {
  min-height: 500px;
}
.forgot_pass_pcont {
  padding-top: 13%;
}
.fmodal_wrap_medium {
  width: 600px;
  background: none;
  border: none;
  border-radius: 0;
  .fmodal_body {
    border-radius: 0;
    padding: 10px;
    &>h2 {
      color: $medium-gray;
      margin: 0;
      padding-bottom: 15px;
      font-size: 1.4em;
      font-weight: $vbold-weight;
    }
  }
}
.modal_icon {
  padding-bottom: 15px;
  span[class^="icon"] {
    font-size: $icon-font-size + 70;
    color: $link-blue;
  }
  span[class^="icon-close"] {
    color: $green;
    background: $green;
    border: 1px solid $green;
    border-radius: 100px;
    position: relative;
    span[class^="icon-checkmark"] {
      color: $full-white;
      font-size: $icon-font-size + 13;
      position: absolute;
      left: 50%;
      top: 50%;
      margin-top: -.45em;
      margin-left: -.45em;
    }
  }
}
a.mb_btn {
  display: inline-block;
}
.mb_btn_gray {
  background: $mid-blue;
  &:hover {
    background: $mid-blue-2;
  }
}
.mb_btn_bhome {
  width: 380px;
}
.orange_link {
  color: $orange;
  &:hover {
    color: $orange-2;
  }
}
.mb_btn_orange {
  background: $orange;
  &:hover {
    background: $orange-2;
  }
}
.modal-dialog {
  .fmodal_wrap {
    position: relative;
    &:before, &:after {
      display: none;
    }
    .modal-close {
      background: $off-white;
      border-radius: 20px;
      opacity: 1;
      right: -10px;
	  top: -10px;
      color: $medium-gray;
      position: absolute;
      
      .icon-decline_Outline{
	      margin-top: 0;
      }
    }
  }
}

.mb_btn_white {
  background: $full-white;
  border: 1px solid $medium-gray;
  color: $medium-gray;
  &:hover {
    color: $medium-gray;
    background: $off-white;
  }
}


/*.modal.in .modal-dialog {
  -webkit-transform: translate(0px, 50%);;
  transform: translate(0px, 50%);;
}*/
@media all and (max-width: $small) {
  .fmodal_container, .fmodal_full_page_cont {
    padding: 0;
  }
  .modal_top_head {
    display: none;
  }
  .fmodal_wrap, .fmodal_head, .fmodal_body {
    border-radius: 0;
    width: 100%;
    padding: 15px;
    border: none;
  }
  .fmodal_wrap {
    padding: 0;
  }
  .fmodal_head {
    padding: 20px 15px;
    h2 {
      font-size: 1.6em;
    }
    a {
      font-size: $icon-font-size + 3;
      color: $mid-gray;
      display: block;
      text-transform: uppercase;
      margin-right: 5px;
      &:hover {
        color: $medium-gray;
      }
    }
  }
  .fmodal_body {
    h4 {
      font-size: 1.3em;
      margin: 10px 0 25px;
    }
  }
  .mb_btns {
    margin-bottom: 20px;
    a {
      font-size: 1.5em;
    }
  }
  .mb_btn {
    font-size: 1.5em;
    padding: 20px 15px;
    line-height: 1;
  }
  .mb_btm_txt {
    line-height: 1.45;
    font-size: 1.4em;
  }
  .mw_btm {
    padding: 0 10px 10px;
    a {
      white-space: nowrap;
    }
  }
  .modal_input {
    margin-bottom: 20px;
    input {
      padding-top: 20px;
      padding-bottom: 20px;
      font-size: 1.3em;
    }
  }
  .fmodal_wrap_medium {
    padding: 70px 0 20px;
    .fmodal_body {
      padding: 15px;
      &> h2 {
        font-size: 1.6em;
        padding-bottom: 0;
      }
      h4 {
        padding-bottom: 30px;
        line-height: 1.35;
      }
    }
  }
  .modal_icon {
    padding-bottom: 35px;
  }
  .mb_btn_bhome {
    width: 100%;
  }
  .mb_btn_white {
    border-width: 2px;
  }
  .mmodal_container {
    padding-top: 55px;
    .fmodal_wrap {
      border-radius: 6px;
    }
    .fmodal_head {
      border-radius: 6px 6px 0 0;
    }
    .fmodal_body {
      border-radius: 0 0 6px 6px;
    }
    .mb_btm_txt {
      font-size: 1em;
      color: $medium-gray;
    }
  }
}

.mb_btns {
  span[class^="icon-Paper_Airplane"] {
    left: auto;
    right: 15px;
  }
}

@media all and (max-width: $iphone) {
  .mb_btns {
    span[class^="icon-Facebook_Square"] {
      left: 10px;
    }
  }
}