#profile_info_header {
  background: #f4f5f7;
}
.profile_head {
  padding: 35px 0;
  display: table;
  width: 100%;
  & > div {
    display: table-cell;
    vertical-align: middle;
  }
}
.profile-image {
  padding: 0 40px 0 100px;
}
.profile-bio {
  h2 {
    float: left;
    margin: 0;
    padding-right: 40px;
    &.verified {
      background: url("#{$image-path}/pimg_icons/profile_name_check.png") no-repeat right center transparent;
    }
  }
  p {
    margin: 10px 0;
    max-width: 500px;
  }
}
.eric_twt {
  color: #9ea7b3;
  text-decoration: none;
  font-size: 1.125em;
}
.ph_info {
  text-shadow: 0 0 0 $medium-gray;
  a {
    text-decoration: underline;
  }
}
.profile-button {
  text-align: right;
  a {
    display: inline-block;
    padding: 5px 15px;
    background: #d8dee6;
    border-radius: 0;
    border: none;
  }
}

.profile_nav {
  border-top: 1px solid #9ea7b3;
  display: table;
  width: 100%;
  ul {
    display: table-row;
  }
  li {
    display: table-cell;
    height: 67px;
    vertical-align: middle;
    a {
      display: block;
      line-height: 67px;
      border-bottom: 5px solid transparent;
      color: $tag-gray;
      text-align: center;
    }
    &.active , &:hover {
    a {
      color: $medium-gray;
      border-bottom: 5px solid $orange;
      text-shadow: 0 0 0 $medium-gray;
    }
    }
  }
}

#profile_inner {
  padding-bottom: 20px;
}
.profile-list {
  ul {
    margin-left: -15px;
    text-align: center;
  }
  li {
    display: inline-block;
    margin-left: 13px;
    margin-top: 15px;
    width: 175px;
    height: 150px;
    position: relative;
    overflow: hidden;
    & > img {
      width: 100%;
      height: 100%;
      display: block;
    }
    &:hover {
      .pl-name {
        -ms-transform: translate(0px, 0px); /* IE 9 */
        -webkit-transform: translate(0px, 0px); /* Chrome, Safari, Opera */
        transform: translate(0px, 0px);
      }
      .pl-hover {
        z-index: 5;
        opacity: 1;
      }
    }
  }
}

.pl-hover, .pl-name {
  @include transition(500ms);
  text-align: center;
}
.pl-name {
  position: absolute;
  display: block;
  width: 100%;
  height: 30px;
  line-height: 30px;
  color: $full-white;
  background: rgba(0,0,0,.6);
  z-index: 10;
  bottom: 0;
  left: 0;
  font-family: $helvatica-fonts;
  font-weight: $bold-weight;
  -ms-transform: translate(0px, 30px); /* IE 9 */
  -webkit-transform: translate(0px, 30px); /* Chrome, Safari, Opera */
  transform: translate(0px, 30px);
}
.pl-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
  background: rgba(0,0,0,.4);
  display: table;
  top: 0;
  left: 0;
  cursor: pointer;
  a {
    display: table-cell;
    vertical-align: middle;
    img {
      width: 70px;
    }
  }
}

/*profile me empty*/
.profile_me_cont {
  display: table;
  width: 100%;
}
.pmc_inner {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  padding: 15% 0;
  & > p {
    max-width: 290px;
    margin: 0 auto;
  }
  h2 {
    font-weight: $bold-weight;
    margin: 13px 0 10px;
  }
}
.cal-img {
  .icon-calendar {
    font-size: 40px;
  }
}

/*Profile_Me_Upcoming*/

.pmul_cont {
  padding-top: 30px;
  padding-bottom: 10px;
}
.pmulc_img {
  position: relative;
  & > a img {
    width: 100%;
    border-radius: 5px;
    display: block;
  }
  .pmulc_price {
    position: absolute;
    right: 0;
    top: 20px;
    color: $green;
    background: $medium-gray;
    padding: 5px 20px;
    font-size: 1.3em;
    &:after, &:before {
      display: block;
    }
  }
  .pmu_pimg {
    position: absolute;
    right: 20px;
    top: 100%;
    margin-top: -38px;
    width: 74px;
    height: 74px;
    img {
      border-radius: 50px;
      border: 2px solid $off-white;
      display: block;
    }
  }
}
.pmulc_txt {
  padding: 12px 15px 10px;
}
.pmu_event_date {
  padding-right: 15px;
  float: left;
  h3 {
    margin: 0;
    font-size: 20px;
    padding-top: 2px;
    font-weight: $bold-weight;
    text-align: center;
    span {
      color: $orange;
      display: inline-block;
      padding-top: 5px;
    }
  }
}
.pmu_event_title {
  h3 {
    margin: 0 0 2px;
  }
  a {
    color: inherit;
  }
  p {
    margin: 0;
    text-shadow: 0 0 0 $medium-gray;
  }
}
.pmul_cont_inner {
  border-radius: 5px;
  background: $off-white;
  box-shadow: 0 2px 2px $light-gray;
}

/*mobile design without media query*/
#profile_info_header_mobile {
  background: #f4f5f7;
  .profile-bio , .profile-image {
    display: block;
    padding: 5px;
    text-align: center;
  }
  .profile-bio {
    padding: 0 10px;
    p {
      margin: 0 auto 10px;
    }
    h2 {
      float: none;
      width: 228px;
      margin: 0 auto;
      background-size: 26px 26px;
      font-weight: $vbold-weight;
      text-align: left;
      padding: 0;
      font-size: 30px;
    }
  }
  .pb-flow {
    font-size: 1.2em;
    padding: 6px 0 8px;
    span {
      margin: 0 5px;
    }
  }
  .pb-add_icon {
    img {
      width: 120px;
    }
  }
  .profile_head {
    .item {
      height: 290px;
    }
  }
  .profile-bio-txt-item2 {
    font-size: 1.2em;
    padding-top: 25px;
  }
  .ph_info {
    h3 {
      font-weight: $vbold-weight;
      margin-top: 25px;
    }
    a {
      color: $link-blue;
    }
  }
  .profile_nav {
    li {
      &:nth-child(2){
        width: 160px;
      }
      @media all and (max-width: $iphone) {
        &:first-child {
          width: 160px;        }

        &:nth-child(2){
          width: auto;
        }
      }
      a {
        font-family: $headline;
        font-size: 1.3em;
        font-weight: $bold-weight;
      }
    }
  }
}

#follow_number {
  background: $off-white;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: $light-weight;
}
.profile_list_table table {
  width: 100%;
  border: none;
}
.profile_list_table td {
  padding: 8px;
  text-align: left;
  vertical-align: middle !important;
  color: $medium-gray;
  border-bottom: 1px solid $light-gray;
  &>img.rounded {
    width: 70px;
    height: 70px;
    border-radius: 50px;
    max-width: none;
    display: block;
  }
  h2 {
    display: inline-block;
    margin: 0;
    font-weight: $vbold-weight;
  }
}
.profile_list_table td:last-child {
  text-align: right;
}
.pro_con {
  display: inline-block;
  position: relative;
  width: 70px;
  height: 70px;
  border: 2px solid $tag-gray;
  border-radius: 50px;
  text-align: center;
  line-height: 70px;
  font-size: 2em;
  color: $tag-gray;
  &:after, &:before {
    display: none;
  }
}
.pro_con span:last-child {
  font-size: 0.5em;
  position: absolute;
  top: 20px;
  right: 5px;
  display: block;
}
.pro_con.pc_added_user {
  color: $orange;
  &:hover {
    color: $orange-2;
  }
}

.pmu_mobile_wrap {
  font-size: 15px;
  .pmul_cont_inner {
    min-height: 248px;
  }
  .pmulc_img {
    min-height: 168px;
    &>img {
      border-radius: 5px 5px 0 0;
    }
    &:hover .pmulci_hover {
      display: block;
    }
  }
  .pmulci_hover {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6);
    border-radius: 5px 5px 0 0;
    color: #00ba84;
    font-size: 1.5em;
    height: 100%;
    left: 0;
    padding-top: 28%;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    display: none;
  }
  .pmu_event_title {
    h3 {
      text-align: center;
      font-weight: $vbold-weight;
      margin-bottom: 4px;
      font-size: 1.4em;
    }
  }
  .pmu_event_date {
    padding: 0;
    float: none;
    h3 {
      text-align: center;
      font-size: 1.2em;
      span {
        padding: 0;
      }
    }
  }
}

@media all and (max-width: $small) {
  .pmc_inner > p {
    font-size: 1.35em;
    max-width: 390px;
  }
  .cal-img .icon-calendar {
    font-size: 44px;
  }
}
@media all and (max-width: $iphone) {
  .pmu_mobile_wrap {
    font-size: 18px;
  }
  .pmul_cont {
    float: none;
    width: 295px;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
  }
}