.settings_page_container {
  padding: 30px 0;
}
.spc_left {
  float: left;
  width: 320px;
}
.stl_top {
  padding: 25px 0 25px 25px;
  background: $off-white;
}
.stlt_img {
  float: left;
  width: 80px;
  cursor: pointer;
  position: relative;
  &:before {
    position: absolute;
  }
  &:after {
    position: absolute;
    content: "\e78f";
    top: 20px;
    left: 26px;
    font-size: $icon-font-size;
    font-family: $icon-font;
    color: $full-white;
    opacity: 0.8;
    display: none;
  }
  &:hover:after {
    display: block;
  }
  img {
    display: block;
    border-radius: 100px;
    width: 100%;
  }
}
.stlt_txt {
  padding-left: 20px;
  float: left;
  h3 {
    color: $medium-gray;
    font-size: 1.3em;
    font-weight: bold;
    margin: 15px 0 3px;
  }
  a {
    font-size: 1.1em;
    color: $tag-gray;
  }
}
.sl_links_wrap {
  margin-top: 45px;
}
.sl_links {
  background: $off-white;
  padding-left: 22px;
  li {
    display: block;
    a {
      display: block;
      position: relative;
      color: $tag-gray;
      padding: 20px 0;
      border-bottom: 1px solid $light-gray;
      font-size: 1em;

      &:after {
        @extend .right-arrow;
      }
      &:before {
        display: block;
        position: absolute;
        width: 0;
        height: 0;
        visibility: hidden;
        left: -20px;
        top: 50%;
        border: 4px solid $orange;
        @include transition(200ms);
        content: '';
      }
    }
    &:last-child a {
      border-bottom: none;
    }
    &.active a, a:hover {
      color: $medium-gray;
      &:before {
        visibility: visible;
        height: 100%;
        top: 0;
      }
    }
  }
}
.sll_socials {
  margin-top: 35px;
  li {
    width: 48%;
    a {
      display: block;
      border-radius: 4px;
      text-align: center;
      padding: 10px;
      font-size: $icon-font-size + 5;
      color: $full-white;
    }
    &.fb_slls a {
      background: $facebook-blue;
      &:hover {
        background: $facebook-blue-2;
      }
    }
    &.twt_slls a {
      background: $twitter-blue;
      &:hover {
        background: $twitter-blue-2;
      }
    }
  }
}
.spc_content {
  margin-left: 365px;
}
.account_form {
  label {
    color: $medium-gray;
    font-weight: $regular-weight;
    font-size: 1.2em;
  }
  input {
    padding-left: 15px;
  }
  .modal_input input {
    padding-left: 65px;
  }
}
.ac_pb_btm {
  padding: 20px;
}
.apb_left {
  float: left;
  h3 {
    color: $medium-gray;
    margin: 10px 0 5px;
  }
  p {
    color: $light-gray;
  }
}
.deactivate-button {
  display: block;
  float: right;
  width: 115px;
  padding: 5px;
  font-size: $icon-font-size + 4;
  text-align: center;
  color: $full-white;
  background: $orange-2;
  border-radius: 5px;
  &:hover {
    background: $orange;
    color: $full-white;
  }
}

.panel-settings {
  &.panel {
    border: 1px solid $light-gray;
    & > .panel-heading {
      border-color: $light-gray;
    }
  }
  .panel-title {
    color: $medium-gray;
    font-size: 1.5em;
  }
  .panel-body {
    padding: 30px;
    color: $medium-gray;
  }
}

.snotifications_table {
  padding: 0 10px;
  th, td {
    padding: 6px 10px;
    text-align: center;
    border-bottom: 1px solid $light-gray;
    vertical-align: middle;
    &:first-child {
      padding-left: 0;
      text-align: left;
    }
  }
  th {
    color: $medium-gray;
    font-size: 1.2em;
    font-weight: $regular-weight;
    .icon-iphone {
      font-size: $icon-font-size + 5;
    }
  }
  td {
    color: $tag-gray;
    font-size: 1em;
    padding: 15px 10px;
    span[class^="icon"] {
      font-size: $icon-font-size - 12;
      cursor: pointer;
    }
    span[class^="icon-close"] {
      color: $light-gray;
      background: $light-gray;
      border-radius: 15px;
      border: 1px solid $light-gray;
      font-size: $icon-font-size - 15;
    }
  }
}
.mb_btn_lgray {
  border-color: $off-white;
  background: $off-white;
  color: $light-gray;
  padding: 15px;
  &:hover {
    background: $light-gray;
  }
}
.pmb_input {
  width: 50%;
  margin-right: 20px;
  float: left;
}
.pmb_input_wrap {
  margin-top: 20px;
  min-height: 95px;

  .pmb_input {
    input {
      padding-top: 30px;
      padding-bottom: 30px;
      color: $medium-gray;
      background: $lighter-gray;
    }
    span[class^="icon-Mastercard"], span[class^="icon-Visa"] {
      font-size: $icon-font-size + 8;
    }
  }
  .mb_btn {
    padding: 30px 0;
    width: 105px;
    color: $full-white;
  }
}
.light_txt {
  color: $off-white;
  padding-top: 20px;
  font-size: 0.875em;
}
.mb_btn_red {
  background: $google-red;
  color: $full-white;
  &:hover {
    background: $google-red-2;
  }
}
.support_center_wrap {
  li {
    display: block;
    border-bottom: 1px solid $light-gray;
    h4 {
      margin: 0;
      padding: 20px 0 10px;
      font-size: 1.15em;
    }
    a {
      color: $tag-gray;
      display: block;
      padding: 20px 0;
      position: relative;
      &:before {
        display: none;
      }
      &:after {
        @extend .right-arrow;
      }
      &:hover {
        color: $medium-gray;
      }
    }
  }
}
span.light_txt {
  padding: 0;
}
.fmodal_head {
  .light_txt {
    color: $light-gray;
    margin-top: 5px;
    font-size: 0.75em;
  }
}
.smdl_title {
  border: 1px solid $light-gray;
  color: $medium-gray;
  padding: 10px;
  font-style: italic;
  margin-bottom: 15px;
  & > span {
    float: left;
    margin-right: 5px;
    margin-top: 5px;
  }
  & > span[class^="icon"]{
    margin-top: 0;
    font-size: $icon-font-size + 4;
  }
}
.settings_modals {
  .modal_input {
    input {
      padding-left: 15px;
    }
  }
  .fmodal_wrap_medium .fmodal_body {
    padding: 25px;
  }
  .mb_btns {
    padding-top: 10px;
  }
}
.fmodal_body {
  label {
    color: $medium-gray;
  }
}

/**
Mobile Design
**/
.mobile_container {
  max-width: 767px;
  margin: 0 auto;
}
.smobile_head {
  background: $medium-gray;
  min-height: 100px;
}
.smobile_head_inner {
  color: $full-white;
  position: relative;
  @extend .hide_before_after;
  h1 {
    margin: 0;
    line-height: 100px;
    color: inherit;
    font-size: 1.45em;
  }
  .back_btn, .ms_submit_btn {
    @extend .button-empty;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -0.5em;
    font-size: $icon-font-size;
  }
  .ms_submit_btn {
    left: auto;
    right: 0;
  }
  .icon-arrow_lg_back,
  .icon-checkmark{
    font-size: $icon-font-size;
  }
}
.smobile_main {
  padding-top: 50px;
  & > h2 {
    margin-bottom: 10px;
    font-size: 1.4em;
    color: $medium-gray;
  }
  .spc_left {
    float: none;
    width: auto;
    .sl_links_wrap {
      margin-top: 0;
    }
    .sl_links {
      background: none;
      padding-left: 15px;
      li {
        a {
          font-size: 18px;
          &:before {
            display: none;
          }
          &:after {
            @media all and (max-width: $iphone) {
//              margin-top: -0.3em;
            }
          }
        }
        &:first-child a {
          border-top: 1px solid $light-gray;
        }
        &:last-child a {
          border-bottom: 1px solid $light-gray;
        }
      }
    }
  }
}
.sm_edit_profile_top {
  display: table;
  padding-bottom: 50px;
  width: 100%;
}
.sm_edit_profile_top_inner {
  display: table-cell;
  vertical-align: middle;
  .sept_img {
    width: 120px;
    margin-left: 45px;
  }
  .sept_img_mdl {
    margin: 0 25px;
    color: $orange;
    min-width: 32px;
    display: inline-block;
    position: relative;
    &:before {
      position: absolute;
      top: 8px;
      left: 0;
      font-size: $icon-font-size + 3;
    }
  }
  .orange_txt {
    font-weight: $bold-weight;
    font-style: italic;
    display: inline-block;
    line-height: 32px;
  }
}
.orange_txt {
  color: $orange;
}
.green_txt {
  color: $green;
}
.sfc_tbl {
  padding-bottom: 20px;
  li {
    text-align: right;
    border-top: 1px solid $light-gray;
    padding: 20px 20px 20px 0;
    label:not(.onoffswitch-label){
      font-size: 1.15em;
      color: $dark-blue;
      font-weight: $bold-weight;
      margin-top: 10px;
      float: left;
      width: 145px;
      text-align: left;
    }
    .sfc_input_wrap {
      margin-left: 150px;
      text-align: right;
    }
    &.sfc_da {
      label:not(.onoffswitch-label) {
        width: auto;
      }
      a {
        margin-left: 10px;
        margin-top: 10px;
        display: inline-block;
      }
    }
  }
  .had_border_bottom {
    border-bottom: 1px solid $light-gray;
  }
  .no_border {
    border: none;
  }
  .onofWrap {
    margin-top: 2px;
  }
  .onofWrap + div {
    margin-right: 145px;
    font-size: 1.125em;
    label {
      width: auto;
      float: none;
    }
  }
}
.sfc_tbl_edac {
  li {
    label:not(.onoffswitch-label) {
      width: 120px;
    }
    .sfc_input_wrap {
      margin-left: 125px;
    }
  }
}

.sfc_m_input {
  width: 100%;
  text-align: right;
  border: none;
  font-size: 1.15em;
  color: $mid-gray;
  background: $full-white;
  padding: 10px 0;
  height: 50px;
}
textarea.sfc_m_input {
  resize: vertical;
}
.sfc_tbl_pmds {
  padding-bottom: 20px;
  .modal_input input, input {
    padding: 10px 0 10px 60px;
    background: none;
    width: 245px;
    color: $mid-gray;
  }
  input {
    text-align: left;
    padding-left: 10px;
  }
  div.pull-right {
    padding-top: 10px;
    font-size: 1.125em;
    .orange_txt {
      font-style: italic;
    }
  }
}
@media all and (min-width: $small + 1){
  .settings_page_container {
    margin-top: 55px;
  }
  .ac_pb_btm {
    padding: 20% 0 5%;
  }
}
@media all and (max-width: $small) {

}
@media all and (max-width: $iphone) {
  .sfc_tbl li.sfc_add_bank_btm {
    label:not(.onoffswitch-label) {
      width: auto;
    }
  }
}